
<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title>表单的应用-Python - 100天从新手到大师</title>
<meta content='表单的应用,Python - 100天从新手到大师' name='keywords'>
<meta content='表单的应用,Python - 100天从新手到大师' name='description'>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="zh-CN" />
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no"../../../>
<meta name="applicable-device" content="pc,mobile">
<link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon" />
<meta name="renderer" content="webkit">
<link rel="stylesheet" href="../../../static/components/uikit-2.27.5/css/uikit.custom.css">
<link rel="stylesheet" href="../../../static/components/social-share/social-share.min.css">
<link rel="stylesheet" href="../../../static/components/highlight/styles/custom.css">
<link rel="stylesheet" href="../../../static/components/css/base.css">
<link rel="stylesheet" href="../../../static/components/css/reader.css">
<link rel="stylesheet" href="../../../static/components/css/markdown.css">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5313208362165053" crossorigin="anonymous"></script>
</head>
<body>
<div class=" book-main-wrap uk-container uk-container-center uk-margin-top ">
<div class="uk-grid">
<div class="uk-width-1-1 reader-wrap ">
<div class=" bottom-nav uk-clearfix ">
<div class="uk-align-left ">
<a href="../../../book/160/Day41-55/03.静态资源和Ajax请求.html">
<i class="nav-icon-left uk-icon-small  uk-icon-caret-left"></i>
<span class="">静态资源和Ajax请求</span>
</a>
</div>
<div class="uk-align-right ">
<a href="../../../book/160/Day41-55/05.Cookie和Session.html">
<span class="">Cookie和Sess..</span>
<i class="nav-icon-right uk-icon-small  uk-icon-caret-right"></i>
</a>
</div>
</div>
<div class="uk-text-center">
<h2 class="book-page-title uk-container-center">
<a href="../../../book/160/index.html">Python - 100天从新手到大师</a>
<a target="_blank" rel="nofollow" href="https://github.com/jackfrued/Python-100-Days" class="uk-icon-button uk-icon-github" title="github项目地址"></a>
</h2>
</div>
<script type="text/javascript" src="../../../static/components/js/app_intro.js"></script>
<ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="ca-pub-5313208362165053" data-ad-slot="1328047120"></ins>
<script>(adsbygoogle =window.adsbygoogle ||[]).push({});</script>
<hr class="uk-article-divider">
<div class="book-content-section  md-content-section  uk-margin-bottom">
<h2 id="表单的应用">表单的应用</h2>
<p>我们继续来完成上一章节中的项目，实现“用户注册”和“用户登录”的功能，并限制只有登录的用户才能为老师投票。Django框架中提供了对表单的封装，而且提供了多种不同的使用方式。</p>
<p>首先添加用户模型。</p>
<pre><code class="language-Python">class User(models.Model):
    """用户"""
    no = models.AutoField(primary_key=True, verbose_name='编号')
    username = models.CharField(max_length=20, unique=True, verbose_name='用户名')
    password = models.CharField(max_length=32, verbose_name='密码')
    regdate = models.DateTimeField(auto_now_add=True, verbose_name='注册时间')

    class Meta:
        db_table = 'tb_user'
        verbose_name_plural = '用户'
</code></pre>
<p>通过生成迁移和执行迁移操作，在数据库中创建对应的用户表。</p>
<pre><code class="language-Shell">python manage.py makemigrations 应用名
python manage.py migrate
</code></pre>
<p>定制一个非常简单的注册模板页面。</p>
<pre><code class="language-HTML">&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;用户注册&lt;/title&gt;
    &lt;style&gt;/* 此处省略层叠样式表选择器 */&lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;用户注册&lt;/h1&gt;
    &lt;hr&gt;
    &lt;p class="hint"&gt;{{ hint }}&lt;/p&gt;
    &lt;form action="../../../register/" method="post"&gt;
        {% csrf_token %}
        &lt;div class="input"&gt;
            &lt;label for="username"&gt;用户名：&lt;/label&gt;
            &lt;input type="text" id="username" name="username"&gt;
        &lt;/div&gt;
        &lt;div class="input"&gt;
            &lt;label for="password"&gt;密码：&lt;/label&gt;
            &lt;input type="password" id="password" name="password"&gt;
        &lt;/div&gt;
        &lt;div class="input"&gt;
            &lt;label for="repassword"&gt;确认密码：&lt;/label&gt;
            &lt;input type="password" id="repassword" name="repassword"&gt;
        &lt;/div&gt;
        &lt;div class="input"&gt;
            &lt;input type="submit" value="注册"&gt;
            &lt;input type="reset" value="重置"&gt;
        &lt;/div&gt;
    &lt;/form&gt;
    &lt;a href="../../../login"&gt;返回登录&lt;/a&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
<p>注意，在上面的表单中，我们使用了模板指令<code>{% csrf_token %}</code>为表单添加一个隐藏域（type属性值为hidden的input标签），它的作用是在表单中生成一个随机令牌（token）来防范<a href="https://zh.wikipedia.org/wiki/%E8%B7%A8%E7%AB%99%E8%AF%B7%E6%B1%82%E4%BC%AA%E9%80%A0">跨站请求伪造</a>（通常简称为CSRF），这也是Django在提交表单时的硬性要求，除非我们专门设置了免除CSRF令牌。下图是一个关于CSRF简单生动的例子，它来自于<a href="https://zh.wikipedia.org/wiki/Wikipedia:%E9%A6%96%E9%A1%B5">维基百科</a>。</p>
<p><a href="https://img.cntofu.com/book/Python-100-Days/Day41-55/res/CSRF.png" data-uk-lightbox><img src="https://img.cntofu.com/book/Python-100-Days/Day41-55/res/CSRF.png" alt=""></a></p>
<p>用户在提交注册表单时，我们还需要对用户的输入进行验证，例如我们的网站要求用户名必须由字母、数字、下划线构成且长度在4-20个字符之间，密码的长度为8-20个字符，确认密码必须跟密码保持一致。这些验证操作首先可以通过浏览器中的JavaScript代码来完成，但是即便如此，在服务器端仍然要对用户输入再次进行验证来避免将无效的数据库交给数据库，因为用户可能会禁用浏览器的JavaScript功能，也有可能绕过浏览器的输入检查将注册数据提交给服务器，所以服务器端的用户输入检查仍然是必要的。</p>
<p>我们可以利用Django框架封装的表单功能来对用户输入的有效性进行检查，虽然Django封装的表单还能帮助我们定制出页面上的表单元素，但是这显然是一种灵活性很差的设计，这样的功能在实际开发中基本不考虑，所以表单主要的作用就在于数据验证，具体的做法如下所示。</p>
<pre><code class="language-Python">USERNAME_PATTERN = re.compile(r'\w{4,20}')

class RegisterForm(forms.ModelForm):
    repassword = forms.CharField(min_length=8, max_length=20)
    
    def clean_username(self):
        username = self.cleaned_data['username']
        if not USERNAME_PATTERN.fullmatch(username):
            raise ValidationError('用户名由字母、数字和下划线构成且长度为4-20个字符')
        return username
        
    def clean_password(self):
        password = self.cleaned_data['password']
        if len(password) &lt; 8 or len(password) &gt; 20:
            raise ValidationError('无效的密码，密码长度为8-20个字符')
        return to_md5_hex(self.cleaned_data['password'])

    def clean_repassword(self):
        repassword = to_md5_hex(self.cleaned_data['repassword'])
        if repassword != self.cleaned_data['password']:
            raise ValidationError('密码和确认密码不一致')
        return repassword

    class Meta:
        model = User
        exclude = ('no', 'regdate')
</code></pre>
<p>上面，我们定义了一个与User模型绑定的表单（继承自ModelForm），我们排除了用户编号（no）和注册日期（regdate）这两个属性，并添加了一个repassword属性用来接收从用户表单传给服务器的确认密码。我们在定义User模型时已经对用户名的最大长度进行了限制，上面我们又对确认密码的最小和最大长度进行了限制，但是这些都不足以完成我们对用户输入的验证。上面以<code>clean_</code>打头的方法就是我们自定义的验证规则。很明显，<code>clean_username</code>是对用户名的检查，而<code>clean_password</code>是对密码的检查。由于数据库二维表中不应该保存密码的原文，所以对密码做了一个简单的MD5摘要处理，实际开发中这样处理还不太够，因为有被实施反向查表法（利用彩虹表反向查询）破解用户密码的风险。为字符串生成MD5摘要的代码如下所示。</p>
<pre><code class="language-Python">def to_md5_hex(message):
    return hashlib.html5(message.encode()).hexdigest()
</code></pre>
<p>新增一个视图函数实现用户注册的功能。</p>
<pre><code class="language-Python">def register(request):
    page, hint = 'register.html', ''
    if request.method == 'POST':
        form = RegisterForm(request.POST)
        if form.is_valid():
            form.save()
            page = 'login.html'
            hint = '注册成功，请登录'
        else:
            hint = '请输入有效的注册信息'
    return render(request, page, {'hint': hint})
</code></pre>
<p>如果用户发起GET请求，将直接跳转到注册的页面；如果用户以POST方式提交注册表单，则创建自定义的注册表单对象并获取用户输入。可以通过表单对象的<code>is_valid</code>方法对表单进行验证，如果用户输入没有问题，该方法返回True，否则返回False；由于我们定义的RegisterForm继承自ModelForm，因此也可以直接使用表单对象的<code>save</code>方法来保存模型。下面是注册请求的URL配置。</p>
<pre><code class="language-Python">from django.contrib import admin
from django.urls import path

from vote import views

urlpatterns = [
    path('', views.show_subjects),
    path('captcha/', views.get_captcha),
    path('teachers/', views.show_teachers),
    path('prise/', views.praise_or_criticize),
    path('criticize/', views.praise_or_criticize),
    path('login/', views.login, name='login'),
    path('register/', views.register, name='register'),
    path('admin/', admin.site.urls),
]
</code></pre>
<blockquote>
<p>说明：上面的代码中我们把待会要用到的登录和验证码的URL也顺便做了映射。<code>path</code>函数还可以通过name参数给URL绑定一个逆向解析的名字，也就是说，如果需要可以从后面给的名字逆向得到对应的URL。</p>
</blockquote>
<p>我们再来定制一个非常简单的登录页。</p>
<pre><code class="language-HTML">&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;用户登录&lt;/title&gt;
    &lt;style&gt;/* 此处省略层叠样式表选择器 */&lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;用户登录&lt;/h1&gt;
    &lt;hr&gt;
    &lt;p class="hint"&gt;{{ hint }}&lt;/p&gt;
    &lt;form action="../../../login/" method="post"&gt;
        &lt;input type="hidden" name="backurl" value="{{ backurl }}"&gt;
        {% csrf_token %}
        &lt;div class="input"&gt;
            &lt;label for="username"&gt;用户名：&lt;/label&gt;
            &lt;input type="text" id="username" name="username"&gt;
        &lt;/div&gt;
        &lt;div class="input"&gt;
            &lt;label for="password"&gt;密码：&lt;/label&gt;
            &lt;input type="password" id="password" name="password"&gt;
        &lt;/div&gt;
        &lt;div class="input captcha"&gt;
            &lt;label for="captcha"&gt;验证码：&lt;/label&gt;
            &lt;input type="text" id="captcha" name="captcha"&gt;
            &lt;img src="../../../captcha/" width="120"&gt;
        &lt;/div&gt;
        &lt;div class="input"&gt;
            &lt;input type="submit" value="登录"&gt;
            &lt;input type="reset" value="重置"&gt;
        &lt;/div&gt;
    &lt;/form&gt;
    &lt;a href="../../../register"&gt;注册新用户&lt;/a&gt;
&lt;/body&gt;
&lt;/html&gt;
</code></pre>
<p>上面的登录页中，我们要求用户提供验证码，验证码全称是<strong>全自动区分计算机和人类的公开图灵测试</strong>，它是一种用来区分系统的使用者是计算机还是人类的程序。简单的说就是程序出一个只有人类能够回答的问题，由系统使用者来解答，由于计算机理论上无法解答程序提出的问题，所以回答出问题的用户就可以被认为是人类。大多数的网站都使用了不同类型的验证码技术来防范计算机自动注册用户或模拟用户登录（暴力破解用户密码），因为验证码具有一次消费性，而没有通过图灵测试的计算机是不能够注册或登录的。</p>
<p>在Python程序中生成验证码并不算特别复杂，但需要三方库pillow的支持（PIL的分支）。我们可以借鉴现有的方法用Python稍作封装即可。下面的代码已经实现了生成验证码图片并得到图片二进制数据的功能。</p>
<pre><code class="language-Python">"""
图片验证码
"""
import os
import random

from io import BytesIO

from PIL import Image
from PIL import ImageFilter
from PIL.ImageDraw import Draw
from PIL.ImageFont import truetype


class Bezier(object):
    """贝塞尔曲线"""

    def __init__(self):
        self.tsequence = tuple([t / 20.0 for t in range(21)])
        self.beziers = {}

    def make_bezier(self, n):
        """绘制贝塞尔曲线"""
        try:
            return self.beziers[n]
        except KeyError:
            combinations = pascal_row(n - 1)
            result = []
            for t in self.tsequence:
                tpowers = (t ** i for i in range(n))
                upowers = ((1 - t) ** i for i in range(n - 1, -1, -1))
                coefs = [c * a * b for c, a, b in zip(combinations,
                                                      tpowers, upowers)]
                result.append(coefs)
            self.beziers[n] = result
            return result


class Captcha(object):
    """验证码"""

    def __init__(self, width, height, fonts=None, color=None):
        self._image = None
        self._fonts = fonts if fonts else \
            [os.path.join(os.path.dirname(__file__), 'fonts', font)
             for font in ['Action.ttf', 'Silom.ttf', 'Verdana.ttf']]
        self._color = color if color else random_color(0, 200, random.randint(220, 255))
        self._width, self._height = width, height

    @classmethod
    def instance(cls, width=200, height=75):
        if not hasattr(Captcha, "_instance"):
            cls._instance = cls(width, height)
        return cls._instance

    def background(self):
        """绘制背景"""
        Draw(self._image).rectangle([(0, 0), self._image.size],
                                    fill=random_color(230, 255))

    def smooth(self):
        """平滑图像"""
        return self._image.filter(ImageFilter.SMOOTH)

    def curve(self, width=4, number=6, color=None):
        """绘制曲线"""
        dx, height = self._image.size
        dx /= number
        path = [(dx * i, random.randint(0, height))
                for i in range(1, number)]
        bcoefs = Bezier().make_bezier(number - 1)
        points = []
        for coefs in bcoefs:
            points.append(tuple(sum([coef * p for coef, p in zip(coefs, ps)])
                                for ps in zip(*path)))
        Draw(self._image).line(points, fill=color if color else self._color, width=width)

    def noise(self, number=62, level=2, color=None):
        """绘制扰码"""
        width, height = self._image.size
        dx, dy = width / 10, height / 10
        width, height = width - dx, height - dy
        draw = Draw(self._image)
        for i in range(number):
            x = int(random.uniform(dx, width))
            y = int(random.uniform(dy, height))
            draw.line(((x, y), (x + level, y)),
                      fill=color if color else self._color, width=level)

    def text(self, captcha_text, fonts, font_sizes=None, drawings=None, squeeze_factor=0.75, color=None):
        """绘制文本"""
        color = color if color else self._color
        fonts = tuple([truetype(name, size)
                       for name in fonts
                       for size in font_sizes or (65, 70, 75)])
        draw = Draw(self._image)
        char_images = []
        for c in captcha_text:
            font = random.choice(fonts)
            c_width, c_height = draw.textsize(c, font=font)
            char_image = Image.new('RGB', (c_width, c_height), (0, 0, 0))
            char_draw = Draw(char_image)
            char_draw.text((0, 0), c, font=font, fill=color)
            char_image = char_image.crop(char_image.getbbox())
            for drawing in drawings:
                d = getattr(self, drawing)
                char_image = d(char_image)
            char_images.append(char_image)
        width, height = self._image.size
        offset = int((width - sum(int(i.size[0] * squeeze_factor)
                                  for i in char_images[:-1]) -
                      char_images[-1].size[0]) / 2)
        for char_image in char_images:
            c_width, c_height = char_image.size
            mask = char_image.convert('L').point(lambda i: i * 1.97)
            self._image.paste(char_image,
                        (offset, int((height - c_height) / 2)),
                        mask)
            offset += int(c_width * squeeze_factor)

    @staticmethod
    def warp(image, dx_factor=0.3, dy_factor=0.3):
        """图像扭曲"""
        width, height = image.size
        dx = width * dx_factor
        dy = height * dy_factor
        x1 = int(random.uniform(-dx, dx))
        y1 = int(random.uniform(-dy, dy))
        x2 = int(random.uniform(-dx, dx))
        y2 = int(random.uniform(-dy, dy))
        warp_image = Image.new(
            'RGB',
            (width + abs(x1) + abs(x2), height + abs(y1) + abs(y2)))
        warp_image.paste(image, (abs(x1), abs(y1)))
        width2, height2 = warp_image.size
        return warp_image.transform(
            (width, height),
            Image.QUAD,
            (x1, y1, -x1, height2 - y2, width2 + x2, height2 + y2, width2 - x2, -y1))

    @staticmethod
    def offset(image, dx_factor=0.1, dy_factor=0.2):
        """图像偏移"""
        width, height = image.size
        dx = int(random.random() * width * dx_factor)
        dy = int(random.random() * height * dy_factor)
        offset_image = Image.new('RGB', (width + dx, height + dy))
        offset_image.paste(image, (dx, dy))
        return offset_image

    @staticmethod
    def rotate(image, angle=25):
        """图像旋转"""
        return image.rotate(random.uniform(-angle, angle),
                            Image.BILINEAR, expand=1)

    def generate(self, captcha_text='', fmt='PNG'):
        """生成验证码(文字和图片)"""
        self._image = Image.new('RGB', (self._width, self._height), (255, 255, 255))
        self.background()
        self.text(captcha_text, self._fonts,
                  drawings=['warp', 'rotate', 'offset'])
        self.curve(), self.noise(), self.smooth()
        image_bytes = BytesIO()
        self._image.save(image_bytes, format=fmt)
        return image_bytes.getvalue()


def pascal_row(n=0):
    """生成Pascal三角第n行"""
    result = [1]
    x, numerator = 1, n
    for denominator in range(1, n // 2 + 1):
        x *= numerator
        x /= denominator
        result.append(x)
        numerator -= 1
    if n &amp; 1 == 0:
        result.extend(reversed(result[:-1]))
    else:
        result.extend(reversed(result))
    return result


def random_color(start=0, end=255, opacity=255):
    """获得随机颜色"""
    red = random.randint(start, end)
    green = random.randint(start, end)
    blue = random.randint(start, end)
    if opacity is None:
        return red, green, blue
    return red, green, blue, opacity
</code></pre>
<blockquote>
<p>说明：上面的代码在生成验证码图片时用到了三种字体文件，使用上面的代码时需要添加字体文件到应用目录下的fonts目录中。</p>
</blockquote>
<p>下面的视图函数用来生成验证码并通过HttpResponse对象输出到用户浏览器中。</p>
<pre><code class="language-Python">ALL_CHARS = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'


def get_captcha_text(length=4):
    selected_chars = random.choices(ALL_CHARS, k=length)
    return ''.join(selected_chars)


def get_captcha(request):
    """获得验证码"""
    captcha_text = get_captcha_text()
    image = Captcha.instance().generate(captcha_text)
    return HttpResponse(image, content_type='image/png')
</code></pre>
<p>生成的验证码如下图所示。</p>
<p><a href="https://img.cntofu.com/book/Python-100-Days/Day41-55/res/captcha.png" data-uk-lightbox><img src="https://img.cntofu.com/book/Python-100-Days/Day41-55/res/captcha.png" alt=""></a></p>
<p>为了验证用户提交的登录表单，我们再定义个表单类。</p>
<pre><code class="language-Python">class LoginForm(forms.Form):
    username = forms.CharField(min_length=4, max_length=20)
    password = forms.CharField(min_length=8, max_length=20)
    captcha = forms.CharField(min_length=4, max_length=4)

    def clean_username(self):
        username = self.cleaned_data['username']
        if not USERNAME_PATTERN.fullmatch(username):
            raise ValidationError('无效的用户名')
        return username

    def clean_password(self):
        return to_md5_hex(self.cleaned_data['password'])
</code></pre>
<p>跟之前我们定义的注册表单类略有区别，登录表单类直接继承自Form没有跟模型绑定，定义了三个字段分别对应登录表单中的用户名、密码和验证码。接下来是处理用户登录的视图函数。</p>
<pre><code class="language-Python">def login(request):
    hint = ''
    if request.method == 'POST':
        form = LoginForm(request.POST)
        if form.is_valid():
            username = form.cleaned_data['username']
            password = form.cleaned_data['password']
            user = User.objects.filter(username=username, password=password).first()
            if user:
                return redirect('/')
            else:
                hint = '用户名或密码错误'
        else:
            hint = '请输入有效的登录信息'
    return render(request, 'login.html', {'hint': hint})
</code></pre>
<p>需要指出，上面我们设定用户登录成功时直接返回首页，而且在用户登录时并没有验证用户输入的验证码是否正确，这些我们留到下一个单元再为大家讲解。</p>
</div>
<hr class="uk-article-divider">
<div class="uk-block uk-block-muted uk-padding-top-remove uk-padding-bottom-remove uk-margin-large-top  book-recommend-wrap">
<div class="uk-margin-top uk-margin-bottom uk-margin-left uk-margin-right">
<div class="uk-margin uk-text-muted "><i class="uk-icon-outdent uk-icon-justify uk-margin-small-right"></i>书籍推荐</div>
<div class="books">
<ul class="uk-book-list">
<li>
<div class="uk-book-item">
<div class="uk-book-header uk-clearfix">
<a href="../../../book/130/index.html">
<img class="uk-book-cover" src="../../../static/icons/48/python_48.png" height="48px" alt="">
</a>
<h4 class="uk-book-title uk-margin-small-bottom"><a href="../../../book/130/index.html">进击的Python</a></h4>
<div class="uk-book-meta  uk-text-middle uk-float-left">
<a class="uk-margin-small-right  uk-text-middle user-name " href="../../../user/68.html">HuberTRoy</a>
<span class="uk-margin-small-right  uk-text-middle">•</span>
<span class="uk-badge uk-badge-notification  book-subject" title="python">python</span>
<span class="uk-margin-small-right  uk-text-middle">•</span>
<span class="uk-margin-small-right  uk-text-middle">23页</span>
<span class="uk-margin-small-right  uk-text-middle">•</span>
<span class="uk-margin-small-right  uk-text-middle">2018年7月8日</span>
</div>
<div class="uk-book-tip uk-float-right  uk-text-middle">
<span class="uk-badge uk-badge-notification" title="github star 169个">169</span>
</div>
</div>
</div>
</li>
<hr>
<li>
<div class="uk-book-item">
<div class="uk-book-header uk-clearfix">
<a href="../../../book/165/index.html">
<img class="uk-book-cover" src="../../../static/icons/48/python_48.png" height="48px" alt="">
</a>
<h4 class="uk-book-title uk-margin-small-bottom"><a href="../../../book/165/index.html">Python学习知识库</a></h4>
<div class="uk-book-meta  uk-text-middle uk-float-left">
<a class="uk-margin-small-right  uk-text-middle user-name " href="../../../user/94.html">coco369</a>
<span class="uk-margin-small-right  uk-text-middle">•</span>
<span class="uk-badge uk-badge-notification  book-subject" title="python">python</span>
<span class="uk-margin-small-right  uk-text-middle">•</span>
<span class="uk-margin-small-right  uk-text-middle">85页</span>
<span class="uk-margin-small-right  uk-text-middle">•</span>
<span class="uk-margin-small-right  uk-text-middle">2019年5月26日</span>
</div>
<div class="uk-book-tip uk-float-right  uk-text-middle">
<span class="uk-badge uk-badge-notification" title="github star 190个">190</span>
</div>
</div>
</div>
</li>
<hr>
<li>
<div class="uk-book-item">
<div class="uk-book-header uk-clearfix">
<a href="../../../book/33/index.html">
<img class="uk-book-cover" src="../../../static/icons/48/python_48.png" height="48px" alt="">
</a>
<h4 class="uk-book-title uk-margin-small-bottom"><a href="../../../book/33/index.html">Scapy 中文文档</a></h4>
<div class="uk-book-meta  uk-text-middle uk-float-left">
<a class="uk-margin-small-right  uk-text-middle user-name " href="../../../user/15.html">wizardforcel</a>
<span class="uk-margin-small-right  uk-text-middle">•</span>
<span class="uk-badge uk-badge-notification  book-subject" title="python">python</span>
<span class="uk-margin-small-right  uk-text-middle">•</span>
<span class="uk-margin-small-right  uk-text-middle">10页</span>
<span class="uk-margin-small-right  uk-text-middle">•</span>
<span class="uk-margin-small-right  uk-text-middle">2018年5月3日</span>
</div>
<div class="uk-book-tip uk-float-right  uk-text-middle">
<span class="uk-badge uk-badge-notification" title="github star 17个">17</span>
</div>
</div>
</div>
</li>
<hr>
<li>
<div class="uk-book-item">
<div class="uk-book-header uk-clearfix">
<a href="../../../book/8/index.html">
<img class="uk-book-cover" src="../../../static/icons/48/netty_48.png" height="48px" alt="">
</a>
<h4 class="uk-book-title uk-margin-small-bottom"><a href="../../../book/8/index.html">Netty 实战(精髓)</a></h4>
<div class="uk-book-meta  uk-text-middle uk-float-left">
<a class="uk-margin-small-right  uk-text-middle user-name " href="../../../user/6.html">waylau</a>
<span class="uk-margin-small-right  uk-text-middle">•</span>
<span class="uk-badge uk-badge-notification  book-subject" title="netty">netty</span>
<span class="uk-margin-small-right  uk-text-middle">•</span>
<span class="uk-margin-small-right  uk-text-middle">101页</span>
<span class="uk-margin-small-right  uk-text-middle">•</span>
<span class="uk-margin-small-right  uk-text-middle">2018年5月3日</span>
</div>
<div class="uk-book-tip uk-float-right  uk-text-middle">
<span class="uk-badge uk-badge-notification" title="github star 817个">817</span>
</div>
</div>
</div>
</li>
<hr>
<li>
<div class="uk-book-item">
<div class="uk-book-header uk-clearfix">
<a href="../../../book/175/index.html">
<img class="uk-book-cover" src="../../../static/icons/48/nodejs_48.png" height="48px" alt="">
</a>
<h4 class="uk-book-title uk-margin-small-bottom"><a href="../../../book/175/index.html">Node.js面试题，侧重后端应用与对Node核心的理解</a></h4>
<div class="uk-book-meta  uk-text-middle uk-float-left">
<a class="uk-margin-small-right  uk-text-middle user-name " href="../../../user/97.html">jimuyouyou</a>
<span class="uk-margin-small-right  uk-text-middle">•</span>
<span class="uk-badge uk-badge-notification  book-subject" title="nodejs">nodejs</span>
<span class="uk-margin-small-right  uk-text-middle">•</span>
<span class="uk-margin-small-right  uk-text-middle">8页</span>
<span class="uk-margin-small-right  uk-text-middle">•</span>
<span class="uk-margin-small-right  uk-text-middle">2019年5月26日</span>
</div>
<div class="uk-book-tip uk-float-right  uk-text-middle">
<span class="uk-badge uk-badge-notification" title="github star 1483个">1483</span>
</div>
</div>
</div>
</li>
<hr>
<li>
<div class="uk-book-item">
<div class="uk-book-header uk-clearfix">
<a href="../../../book/137/index.html">
<img class="uk-book-cover" src="../../../static/icons/48/code_48.png" height="48px" alt="">
</a>
<h4 class="uk-book-title uk-margin-small-bottom"><a href="../../../book/137/index.html">Growth: 全栈增长工程师指南</a></h4>
<div class="uk-book-meta  uk-text-middle uk-float-left">
<a class="uk-margin-small-right  uk-text-middle user-name " href="../../../user/72.html">phodal</a>
<span class="uk-margin-small-right  uk-text-middle">•</span>
<span class="uk-badge uk-badge-notification  book-subject" title="code">code</span>
<span class="uk-margin-small-right  uk-text-middle">•</span>
<span class="uk-margin-small-right  uk-text-middle">1页</span>
<span class="uk-margin-small-right  uk-text-middle">•</span>
<span class="uk-margin-small-right  uk-text-middle">2018年8月3日</span>
</div>
<div class="uk-book-tip uk-float-right  uk-text-middle">
<span class="uk-badge uk-badge-notification" title="github star 6161个">6161</span>
</div>
</div>
</div>
</li>
<hr>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<nav class="tm-navbar uk-navbar uk-navbar-attached reader-nav">
<div class="uk-float-left uk-margin-small-top">
<a href="javascript:;" title="目录菜单" class="show-menu  uk-icon-hover  uk-icon-align-justify uk-margin-right"></a>
<div data-uk-dropdown="{mode:'click',pos:'bottom-left'}" class="font-setting-wrap">
<a class="uk-icon-hover uk-icon-font uk-margin-right" aria-label="字体设置" href="javascript:;"></a>
<div class="uk-dropdown dropdown-menu">
<div class="dropdown-caret"><span class="caret-outer"></span><span class="caret-inner"></span></div>
<div class="buttons uk-clearfix">
<button class="uk-button-link button size-2 font-reduce">小字</button>
<button class="uk-button-link button size-2 font-enlarge">大字</button>
</div>
<hr>
<div class="buttons uk-clearfix">
<button class="uk-button-link button size-2 font-1 ">宋体</button>
<button class="uk-button-link button size-2 font-2 ">黑体</button>
</div>
<hr>
<div class="buttons uk-clearfix">
<button class="uk-button-link button size-3 color-theme-sun "><i class="uk-icon-sun-o"></i>白天</button>
<button class="uk-button-link button size-3 color-theme-eye "><i class="uk-icon-eye"></i>护眼</button>
<button class="uk-button-link button size-3 color-theme-moon "><i class="uk-icon-moon-o"></i>夜晚</button></div>
</div>
</div>
<a class="logo uk-margin-right" href="../../../" title="返回首页"><img class="" src="../../../static/components/images/icon_32.png" /></a>
</div>
<div class="uk-navbar-flip  uk-hidden-small">
<div id="share-box"></div>
</div>
</nav>
<div id="menu-id" class="uk-offcanvas reader-offcanvas">
<div class="uk-offcanvas-bar">
<ul class="book-menu-bar uk-nav uk-nav-offcanvas" data-uk-nav>
<li>
<a href="../../../book/160/index.html" data-book-page-rel-url="index.html" data-book-page-id="0" title="封面">封面</a>
</li>
<li>
<a class="pjax" href="../../../book/160/readme.html" data-book-page-rel-url="readme.html" data-book-page-id="0" title="简介">简介</a>
</li>
<li>
<a class="pjax" href="javascript:;" class="uk-link-muted uk-text-muted" title="Python语言基础" disabled data-book-page-rel-url="Day01-15" data-book-page-id="10760">Python语言基础</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day01-15/Day01/初识Python.html" title="初识Python" data-book-page-rel-url="Day01-15/Day01/初识Python.html" data-book-page-id="10761">初识Python</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day01-15/Day02/语言元素.html" title="语言元素" data-book-page-rel-url="Day01-15/Day02/语言元素.html" data-book-page-id="10762">语言元素</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day01-15/Day03/分支结构.html" title="分支结构" data-book-page-rel-url="Day01-15/Day03/分支结构.html" data-book-page-id="10763">分支结构</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day01-15/Day04/循环结构.html" title="循环结构" data-book-page-rel-url="Day01-15/Day04/循环结构.html" data-book-page-id="10764">循环结构</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day01-15/Day05/总结和练习.html" title="总结和练习" data-book-page-rel-url="Day01-15/Day05/总结和练习.html" data-book-page-id="10765">总结和练习</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day01-15/Day06/函数和模块的使用.html" title="函数和模块的使用" data-book-page-rel-url="Day01-15/Day06/函数和模块的使用.html" data-book-page-id="10766">函数和模块的使用</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day01-15/Day07/字符串和常用数据结构.html" title="字符串和常用数据结构" data-book-page-rel-url="Day01-15/Day07/字符串和常用数据结构.html" data-book-page-id="10767">字符串和常用数据结构</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day01-15/Day08/面向对象编程基础.html" title="面向对象编程基础" data-book-page-rel-url="Day01-15/Day08/面向对象编程基础.html" data-book-page-id="10768">面向对象编程基础</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day01-15/Day09/面向对象进阶.html" title="面向对象进阶" data-book-page-rel-url="Day01-15/Day09/面向对象进阶.html" data-book-page-id="10769">面向对象进阶</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day01-15/Day10/图形用户界面和游戏开发.html" title="图形用户界面和游戏开发" data-book-page-rel-url="Day01-15/Day10/图形用户界面和游戏开发.html" data-book-page-id="10770">图形用户界面和游戏开发</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day01-15/Day11/文件和异常.html" title="文件和异常" data-book-page-rel-url="Day01-15/Day11/文件和异常.html" data-book-page-id="10771">文件和异常</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day01-15/Day12/字符串和正则表达式.html" title="字符串和正则表达式" data-book-page-rel-url="Day01-15/Day12/字符串和正则表达式.html" data-book-page-id="10772">字符串和正则表达式</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day01-15/Day13/进程和线程.html" title="进程和线程" data-book-page-rel-url="Day01-15/Day13/进程和线程.html" data-book-page-id="10773">进程和线程</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day01-15/Day14-A/网络编程入门.html" title="网络编程入门" data-book-page-rel-url="Day01-15/Day14-A/网络编程入门.html" data-book-page-id="10774">网络编程入门</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day01-15/Day14-B/网络应用开发.html" title="网络应用开发" data-book-page-rel-url="Day01-15/Day14-B/网络应用开发.html" data-book-page-id="10775">网络应用开发</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day01-15/Day15/图像和办公文档处理.html" title="图像和文档处理" data-book-page-rel-url="Day01-15/Day15/图像和办公文档处理.html" data-book-page-id="10776">图像和文档处理</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day16-20/Python语言进阶.html" title="Python语言进阶" data-book-page-rel-url="Day16-20/Python语言进阶.html" data-book-page-id="10777">Python语言进阶</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day21-30/Web前端概述.html" title="Web前端入门" data-book-page-rel-url="Day21-30/Web前端概述.html" data-book-page-id="10778">Web前端入门</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day31-35/玩转Linux操作系统.html" title="玩转Linux操作系统" data-book-page-rel-url="Day31-35/玩转Linux操作系统.html" data-book-page-id="10779">玩转Linux操作系统</a>
</li>
<li>
<a class="pjax" href="javascript:;" class="uk-link-muted uk-text-muted" title="数据库基础和进阶" disabled data-book-page-rel-url="Day36-40" data-book-page-id="10780">数据库基础和进阶</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day36-40/关系型数据库MySQL.html" title="关系型数据库MySQL" data-book-page-rel-url="Day36-40/关系型数据库MySQL.html" data-book-page-id="10781">关系型数据库MySQL</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day36-40/NoSQL入门.html" title="NoSQL入门" data-book-page-rel-url="Day36-40/NoSQL入门.html" data-book-page-id="10782">NoSQL入门</a>
</li>
<li>
<a class="pjax" href="javascript:;" class="uk-link-muted uk-text-muted" title="实战Django" disabled data-book-page-rel-url="Day41-55" data-book-page-id="10783">实战Django</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day41-55/01.快速上手.html" title="快速上手" data-book-page-rel-url="Day41-55/01.快速上手.html" data-book-page-id="10784">快速上手</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day41-55/02.深入模型.html" title="深入模型" data-book-page-rel-url="Day41-55/02.深入模型.html" data-book-page-id="10785">深入模型</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day41-55/03.静态资源和Ajax请求.html" title="静态资源和Ajax请求" data-book-page-rel-url="Day41-55/03.静态资源和Ajax请求.html" data-book-page-id="10786">静态资源和Ajax请求</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day41-55/04.表单的应用.html" title="表单的应用" data-book-page-rel-url="Day41-55/04.表单的应用.html" data-book-page-id="10787">表单的应用</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day41-55/05.Cookie和Session.html" title="Cookie和Session" data-book-page-rel-url="Day41-55/05.Cookie和Session.html" data-book-page-id="10788">Cookie和Session</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day41-55/06.中间件的应用.html" title="中间件的应用" data-book-page-rel-url="Day41-55/06.中间件的应用.html" data-book-page-id="10789">中间件的应用</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day41-55/07.日志和调试.html" title="日志和调试" data-book-page-rel-url="Day41-55/07.日志和调试.html" data-book-page-id="10790">日志和调试</a>
</li>
<li>
<a class="pjax" href="javascript:;" class="uk-link-muted uk-text-muted" title="文件上传和富文本编辑" disabled data-book-page-rel-url="Day41-55/08.文件上传.html" data-book-page-id="10791">文件上传和富文本编辑</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day41-55/09.文件下载和报表.html" title="文件下载和报表" data-book-page-rel-url="Day41-55/09.文件下载和报表.html" data-book-page-id="10792">文件下载和报表</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day41-55/10.RESTful架构和DRF入门.html" title="RESTful架构和DRF入门" data-book-page-rel-url="Day41-55/10.RESTful架构和DRF入门.html" data-book-page-id="10793">RESTful架构和DRF入门</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day41-55/11.RESTful架构和DRF进阶.html" title="RESTful架构和DRF进阶" data-book-page-rel-url="Day41-55/11.RESTful架构和DRF进阶.html" data-book-page-id="10794">RESTful架构和DRF进阶</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day41-55/12.使用缓存.html" title="使用缓存" data-book-page-rel-url="Day41-55/12.使用缓存.html" data-book-page-id="10795">使用缓存</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day41-55/13.短信和邮件.html" title="短信和邮件" data-book-page-rel-url="Day41-55/13.短信和邮件.html" data-book-page-id="10796">短信和邮件</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day41-55/14.异步任务和定时任务.html" title="异步任务和定时任务" data-book-page-rel-url="Day41-55/14.异步任务和定时任务.html" data-book-page-id="10797">异步任务和定时任务</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day41-55/15.单元测试和项目上线.html" title="单元测试和项目上线" data-book-page-rel-url="Day41-55/15.单元测试和项目上线.html" data-book-page-id="10798">单元测试和项目上线</a>
</li>
<li>
<a class="pjax" href="javascript:;" class="uk-link-muted uk-text-muted" title="实战Flask" disabled data-book-page-rel-url="Day56-65" data-book-page-id="10799">实战Flask</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day56-60/01.Flask入门.html" title="Flask入门" data-book-page-rel-url="Day56-60/01.Flask入门.html" data-book-page-id="10800">Flask入门</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day56-60/02.模板的使用.html" title="模板的使用" data-book-page-rel-url="Day56-60/02.模板的使用.html" data-book-page-id="10801">模板的使用</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day56-60/03.表单的处理.html" title="表单的处理" data-book-page-rel-url="Day56-60/03.表单的处理.html" data-book-page-id="10802">表单的处理</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day56-60/04.数据库操作.html" title="数据库操作" data-book-page-rel-url="Day56-60/04.数据库操作.html" data-book-page-id="10803">数据库操作</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day56-60/05.项目实战.html" title="项目实战" data-book-page-rel-url="Day56-60/05.项目实战.html" data-book-page-id="10804">项目实战</a>
</li>
<li>
<a class="pjax" href="javascript:;" class="uk-link-muted uk-text-muted" title="实战Tornado" disabled data-book-page-rel-url="Day61-65" data-book-page-id="10805">实战Tornado</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day61-65/01.预备知识.html" title="预备知识" data-book-page-rel-url="Day61-65/01.预备知识.html" data-book-page-id="10806">预备知识</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day61-65/02.Tornado入门.html" title="Tornado入门" data-book-page-rel-url="Day61-65/02.Tornado入门.html" data-book-page-id="10807">Tornado入门</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day61-65/03.异步化.html" title="异步化" data-book-page-rel-url="Day61-65/03.异步化.html" data-book-page-id="10808">异步化</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day61-65/04.WebSocket的应用.html" title="WebSocket的应用" data-book-page-rel-url="Day61-65/04.WebSocket的应用.html" data-book-page-id="10809">WebSocket的应用</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day61-65/05.项目实战.html" title="项目实战" data-book-page-rel-url="Day61-65/05.项目实战.html" data-book-page-id="10810">项目实战</a>
</li>
<li>
<a class="pjax" href="javascript:;" class="uk-link-muted uk-text-muted" title="爬虫开发" disabled data-book-page-rel-url="Day66-75" data-book-page-id="10811">爬虫开发</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day66-75/01.网络爬虫和相关工具.html" title="网络爬虫和相关工具" data-book-page-rel-url="Day66-75/01.网络爬虫和相关工具.html" data-book-page-id="10812">网络爬虫和相关工具</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day66-75/02.数据采集和解析.html" title="数据采集和解析" data-book-page-rel-url="Day66-75/02.数据采集和解析.html" data-book-page-id="10813">数据采集和解析</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day66-75/03.存储数据.html" title="存储数据" data-book-page-rel-url="Day66-75/03.存储数据.html" data-book-page-id="10814">存储数据</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day66-75/04.并发下载.html" title="并发下载" data-book-page-rel-url="Day66-75/04.并发下载.html" data-book-page-id="10815">并发下载</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day66-75/05.解析动态内容.html" title="解析动态内容" data-book-page-rel-url="Day66-75/05.解析动态内容.html" data-book-page-id="10816">解析动态内容</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day66-75/06.表单交互和验证码处理.html" title="表单交互和验证码处理" data-book-page-rel-url="Day66-75/06.表单交互和验证码处理.html" data-book-page-id="10817">表单交互和验证码处理</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day66-75/07.Scrapy入门.html" title="Scrapy入门" data-book-page-rel-url="Day66-75/07.Scrapy入门.html" data-book-page-id="10818">Scrapy入门</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day66-75/08.Scrapy高级应用.html" title="Scrapy高级应用" data-book-page-rel-url="Day66-75/08.Scrapy高级应用.html" data-book-page-id="10819">Scrapy高级应用</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day66-75/09.Scrapy分布式实现.html" title="Scrapy分布式实现" data-book-page-rel-url="Day66-75/09.Scrapy分布式实现.html" data-book-page-id="10820">Scrapy分布式实现</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day66-75/10.爬虫项目实战.html" title="爬虫项目实战" data-book-page-rel-url="Day66-75/10.爬虫项目实战.html" data-book-page-id="10821">爬虫项目实战</a>
</li>
<li>
<a class="pjax" href="javascript:;" class="uk-link-muted uk-text-muted" title="数据处理和机器学习" disabled data-book-page-rel-url="Day76-90" data-book-page-id="10822">数据处理和机器学习</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day76-90/01.机器学习基础.html" title="机器学习基础" data-book-page-rel-url="Day76-90/01.机器学习基础.html" data-book-page-id="10823">机器学习基础</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day76-90/02.Pandas的应用.html" title="Pandas的应用" data-book-page-rel-url="Day76-90/02.Pandas的应用.html" data-book-page-id="10824">Pandas的应用</a>
</li>
<li>
<a class="pjax" href="javascript:;" class="uk-link-muted uk-text-muted" title="NumPy和SciPy的应用" disabled data-book-page-rel-url="Day76-90/03.NumPy和SciPy的应用" data-book-page-id="10825">NumPy和SciPy的应用</a>
</li>
<li>
<a class="pjax" href="javascript:;" class="uk-link-muted uk-text-muted" title="Matplotlib和数据可视化" disabled data-book-page-rel-url="Day76-90/04.Matplotlib和数据可视化" data-book-page-id="10826">Matplotlib和数据可视化</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day76-90/05.k最近邻分类.html" title="k最近邻(KNN)分类" data-book-page-rel-url="Day76-90/05.k最近邻分类.html" data-book-page-id="10827">k最近邻(KNN)分类</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day76-90/06.决策树.html" title="决策树" data-book-page-rel-url="Day76-90/06.决策树.html" data-book-page-id="10828">决策树</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day76-90/07.贝叶斯分类.html" title="贝叶斯分类" data-book-page-rel-url="Day76-90/07.贝叶斯分类.html" data-book-page-id="10829">贝叶斯分类</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day76-90/08.支持向量机.html" title="支持向量机(SVM)" data-book-page-rel-url="Day76-90/08.支持向量机.html" data-book-page-id="10830">支持向量机(SVM)</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day76-90/09.K-均值聚类.html" title="K-均值聚类" data-book-page-rel-url="Day76-90/09.K-均值聚类.html" data-book-page-id="10831">K-均值聚类</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day76-90/10.回归分析.html" title="回归分析" data-book-page-rel-url="Day76-90/10.回归分析.html" data-book-page-id="10832">回归分析</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day76-90/11.大数据分析入门.html" title="大数据分析入门" data-book-page-rel-url="Day76-90/11.大数据分析入门.html" data-book-page-id="10833">大数据分析入门</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day76-90/12.大数据分析进阶.html" title="大数据分析进阶" data-book-page-rel-url="Day76-90/12.大数据分析进阶.html" data-book-page-id="10834">大数据分析进阶</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day76-90/13.Tensorflow入门.html" title="Tensorflow入门" data-book-page-rel-url="Day76-90/13.Tensorflow入门.html" data-book-page-id="10835">Tensorflow入门</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day76-90/14.Tensorflow实战.html" title="Tensorflow实战" data-book-page-rel-url="Day76-90/14.Tensorflow实战.html" data-book-page-id="10836">Tensorflow实战</a>
</li>
<li>
<a class="pjax" href="javascript:;" class="uk-link-muted uk-text-muted" title="推荐系统" disabled data-book-page-rel-url="Day76-90/15.推荐系统.html" data-book-page-id="10837">推荐系统</a>
</li>
<li>
<a class="pjax" href="javascript:;" class="uk-link-muted uk-text-muted" title="团队项目开发" disabled data-book-page-rel-url="Day91-100" data-book-page-id="10838">团队项目开发</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Python惯例.html" title="《Python惯例-如何编写Pythonic的代码》" data-book-page-rel-url="Python惯例.html" data-book-page-id="10839">《Python惯例-如何编写Pythonic的代码》</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day91-100/团队项目开发.html" title="《团队项目开发》" data-book-page-rel-url="Day91-100/团队项目开发.html" data-book-page-id="10840">《团队项目开发》</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day91-100/网络API接口设计.html" title="《网络API接口设计》" data-book-page-rel-url="Day91-100/网络API接口设计.html" data-book-page-id="10842">《网络API接口设计》</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day91-100/项目部署上线指南.html" title="《项目部署上线指南》" data-book-page-rel-url="Day91-100/项目部署上线指南.html" data-book-page-id="10843">《项目部署上线指南》</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day91-100/Django知识点概述.html" title="《Django知识点概述》" data-book-page-rel-url="Day91-100/Django知识点概述.html" data-book-page-id="10841">《Django知识点概述》</a>
</li>
<li>
<a class="pjax" href="../../../book/160/Day91-100/MySQL相关知识.html" title="《MySQL相关知识》" data-book-page-rel-url="Day91-100/MySQL相关知识.html" data-book-page-id="10844">《MySQL相关知识》</a>
</li>
</ul>
</div>
</div>
<script src="https://cdn.staticfile.net/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="../../../static/components/uikit-2.27.5/js/uikit.reader.js"></script>
<script type="text/javascript" src="../../../static/components/social-share/social-share.min.js"></script>
<script>(function(){var bp =document.createElement('script');var curProtocol =window.location.protocol.split(':')[0];if (curProtocol ==='https') {bp.src ='https://zz.bdstatic.com/linksubmit/push.js';}
else {bp.src ='http://push.zhanzhang.baidu.com/push.js';}
var s =document.getElementsByTagName("script")[0];s.parentNode.insertBefore(bp,s);})();</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-38429407-1"></script>
<script>window.dataLayer =window.dataLayer ||[];function gtag(){dataLayer.push(arguments);}
gtag('js',new Date());gtag('config','UA-38429407-1');</script>
<script>var _hmt =_hmt ||[];(function() {var hm =document.createElement("script");hm.src ="https://hm.baidu.com/hm.js?f28e71bd2b5dee3439448dca9f534107";var s =document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s);})();</script>
<script src="https://cdn.staticfile.net/highlight.js/9.12.0/highlight.min.js"></script>
<script src="https://cdn.staticfile.net/jquery.pjax/2.0.1/jquery.pjax.min.js"></script>
<script src="https://cdn.staticfile.net/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.staticfile.net/uikit/2.27.5/js/components/lightbox.min.js"></script>
<link rel="dns-prefetch" href="../../..//cdn.mathjax.org" />
<script type="text/x-mathjax-config">
 function initMathJax() {
    var mathId = $("book-content-section")[0];
    MathJax.Hub.Config({
        tex2jax: {skipTags: ['script', 'noscript', 'style', 'textarea', 'pre','code','a']},
        showProcessingMessages: false,
        messageStyle: "none"
    });
    MathJax.Hub.Queue(["Typeset",MathJax.Hub,mathId]);
 };
initMathJax();
</script>
<script src='https://cdn.staticfile.net/mathjax/2.7.4/MathJax.js?config=TeX-AMS-MML_HTMLorMML' async></script>
<style>
	.MathJax_Display{display:inline!important;}
</style>
<script type="text/javascript" src="../../../static/components/js/reader.js"></script>
<script type="text/javascript">var bookId =160;var bookPageId =10787;var bookPageRelUrl ='Day41-55/04.表单的应用.html';</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-38429407-1"></script>
<script>window.dataLayer =window.dataLayer ||[];function gtag(){dataLayer.push(arguments);}
gtag('js',new Date());gtag('config','UA-38429407-1');</script>
<script>var _hmt =_hmt ||[];(function() {var hm =document.createElement("script");hm.src ="https://hm.baidu.com/hm.js?f28e71bd2b5dee3439448dca9f534107";var s =document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s);})();</script>
</body>
</html>